* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
    /* background-color: #000; */
    color: ;
}

html,
body {
  height: 100%;
  width: 100%;
}

.parent {
  min-height: 100vh;
  width: 100%;
  background-color: #000;
  padding: 30px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.cards {
  height: 320px;
  width: 300px;
  background-color: #fff;
  padding: 10px 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}
.cards .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards .top button {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #dadada;
  background: transparent;
}
.cards .top img {
  height: 42px;
  width: 42px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 3px;
}
.cards .center{
  padding: 5px 0px;
  margin-bottom: 40px;
}
.cards .center .companyName {
  display: flex;
  align-items: center;
}
.cards .center .companyName h3{
  font-size: 18px;
  font-weight: 600;
}
.cards .center .companyName span{
  font-size: 10px;
  margin-left: 4px;
  margin-top: 3px;
}
.cards .center .position {
  display: flex;
  flex-direction: column;
}
.cards .center .position h2{
  margin-top: 5px;
}
.cards .center .position .jobType {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 5px;
}
.cards .center .position .jobType button {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #dadad4;
  font-weight: bold;
  letter-spacing: 0.4px;
}

.cards .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #b1b1b1;
  margin-top: 40px;
  padding-top: 5px;
  margin-bottom: -30px;
}
.cards .bottom h4{
  font-size: large;
}
.cards .bottom .location {
  font-size: 12px;
  font-weight: bold;
  /* padding: 10px 0; */
}
.cards .bottom .apply {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #dadada;
  background: #000;
  letter-spacing: 0.2px;
  color: #fff;
}
